.replyBox{
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 400px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 150px;
}

textarea{
    height: 150px;
    width: 100%;
    background-color: white;
}

input {background-color: white;}